.text-area .content {
    -fx-background-color: white;
}

.text-area .text {
    -fx-color: #a8c2ff;
    -fx-text-fill: black;
    -fx-font: bold italic 12px "Arial";
    -fx-text-alignment: center;
}

.check-box .text {
    -fx-font: bold 12px "Arial";
}

.button .text {
    -fx-font: bold 12px "Arial";
}