.text-area .content {
    -fx-background-color: black;
}

.text-area .text {
    -fx-color: white;
    -fx-text-fill: white;
    -fx-font: bold italic 12px "Arial";
    -fx-text-alignment: center;
}

.check-box .text {
    -fx-font: bold 12px "Arial";
}

.button .text {
    -fx-font: bold 12px "Arial";
}